<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.study.labs">

    <application
        android:name=".Lab17App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".Lab25Activity"></activity>
        <activity android:name=".Lab22Activity" />
        <activity android:name=".Lab18Activity" />
        <activity android:name=".Lab17SecondActivity" />
        <activity android:name=".Lab17Activity" />
        <activity android:name=".Lab16Activity" />
        <activity android:name=".Lab15SecondActivity" />
        <activity android:name=".Lab15Activity" />
        <activity android:name=".Lab14SecondActivity" />
        <activity android:name=".Lab14Activity" />
        <activity android:name=".Lab13Activity" />
        <activity android:name=".Lab12ThirdActivity" />
        <activity android:name=".Lab12SecondActivity" />
        <activity android:name=".Lab12Activity" />
        <activity android:name=".Lab11SecondActivity" />
        <activity android:name=".Lab11Activity" />
        <activity android:name=".Lab10Activity" />
        <activity android:name=".Lab9Activity" />
        <activity android:name=".Lab8Activity" />
        <activity android:name=".Lab7SecondActivity" />
        <activity android:name=".Lab7Activity" />
        <activity android:name=".Lab6ThirdActivity" />
        <activity android:name=".Lab6SecondActivity" />
        <activity android:name=".Lab6Activity" />
        <activity android:name=".Lab5Activity" />
        <activity android:name=".Lab4Activity" />
        <activity android:name=".Lab3Activity" />
        <activity android:name=".Lab2Activity" />
        <activity android:name=".Lab1Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>